<%= @sugarsnap %>
<div id='feed'></div>

<form id='post-photo' action='http://sugarsnapper.s3.amazonaws.com/' method='post' enctype='multipart/form-data'>

File to upload to S3:
    <input type='file' name='file' id='photo-snapper' accept='image/*' capture='camera'>
    <br>
    <input type='submit' value='Submit this file'>
</form>
