<header>
  <ul>
    <li><img src="sugar_snap.png" class='header-logo'></li>
    <li class='nav-content'><span id="span"><%= @sugarsnap %></span></li>
  </ul>
</header>

<div class='form-container'>
  <%= form_for @photo do |f| %>
  <%= f.file_field :image, accept: 'image/*', capture: 'camera' %>
  <%= f.submit "Submit", id: "submit_photo" %>
<% end %>

</div>

<div class='feed-container'>
  <p>Feed goes here; below is just an imitation:</p>
  <div id='feed'>
    <img class="hidden">
  </div>
</div>

<div id="footer">
      <p id="p-foot">Creators:   <span id="bold">Dave</span>,  <span id="bold">Robert</span>,   <span id="bold">Nick</span>,   and   <span id="bold">Rex</span><br> Source: <a href="https://github.com/pocket-gophers-2014/sugarsnap">Github Project Repo</a></p>
    </div>

