.hidden { display: none; }

#submit_photo { display: none; }

header {
  margin: none;
  background: green;
  padding: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: block;
  clear: both;
  text-align: center;
}




img { height: 320px; width: 320px; text-align: center; }
.feed-container {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 110px;
  margin-left: auto;
  margin-right: auto;
  }

.form-container {
  text-align: center;
  height: 100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.feed {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.feed-pic { border: solid black; }


footer {
  padding-bottom: 75px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background: green;
  margin: 0;
  padding: 0;
  text-align: center;}

#photo_image {
  opactiy: 0;
  width: 90px;
}

input[type="file"]{
  height: 100px;
  width: 100px;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 38.5%;
  right: 38.5%;

  @media (min-width: 981px) {
    height: 100px;
    width: 100px;
    opacity: 0.5;
    bottom: 0px;
    left: 47.7%;
    right: 47.7%;
  }
}

#camera-icon {
  width: 90px;
  height: 90px;
  border: solid 2px black;
  border-radius: 20px;
  position: absolute;
  z-index: 0;
  bottom: 0px;
  left: 38%;
  right: 38%;
  margin-bottom: 3px;

  @media (min-width: 981px) {
    width: 90px;
    height: 90px;
    border: solid 2px black;
    border-radius: 20px;
    bottom: 0px;
    left: 47.6%;
    right: 47.6%;
    margin-bottom: 3px;
  }
}


@media screen and (max-width: 540px) {}
@media screen and (min-width: 541px) {}

