$shittygreen: #85E085;
.hidden { display: none; }

body {
  background: url("http://subtlepatterns.com/patterns/sativa.png") repeat;
}

h1 {
  font-family: 'Miltonian Tattoo', cursive;
  font-size: 40px;
  margin-top: -5px;
  margin-bottom: 5px;
  padding: none;
  }

#header {
  margin: none;
  background: #85E085;
  height: 50px;
  margin: none;
  padding: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: block;
  clear: both;
  text-align: center;
}

p {
  text-align: center;
}


img {
  height: 320px;
  width: 320px;
  text-align: center;
  margin: 5px 0px;
  @media (min-width: 450px) {
    margin: 25px;
  }
}

#subheader {
  margin: none;
  padding: none;
  margin-top: 50px;
  background: #C8FFC8;
  width: 100%;
  height: 50px;
  display: none;
}

.feed-container {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}



.form-container {
  text-align: center;
  height: 100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 1000px;
}



.feed {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}



footer {
  padding-bottom: 75px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background: #85E085;
  margin: 0;
  padding: 0;
  text-align: center;
}



input[type="file"] {
  height: 100px;
  width: 100px;
  opacity: 0;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 110px;

  @media (min-width: 981px) {
    height: 100px;
    width: 100px;
    opacity: 0;
    bottom: 0px;
    left: 47.7%;
    right: 47.7%;
  }
}


#camera-icon {
  width: 42px;
  height: 42px;
  border: solid 2px black;
  border-radius: 10px;
  position: absolute;
  z-index: 0;
  top: -23px;
  left: 137px;
  margin-bottom: 3px;

  @media (min-width: 981px) {
    width: 90px;
    height: 90px;
    border: solid 2px black;
    border-radius: 20px;
    bottom: 0px;
    left: 47.6%;
    right: 47.6%;
    margin-bottom: 3px;
  }
}


#camera_icon_left {
  width: 42px;
  height: 42px;
  border: solid 2px black;
  border-radius: 10px;
  position: absolute;
  z-index: 0;
  top: -23px;
  left: 94px;
  margin-bottom: 3px;

  @media (min-width: 981px) {
    width: 90px;
    height: 90px;
    border: solid 2px black;
    border-radius: 20px;
    bottom: 0px;
    left: 47.6%;
    right: 47.6%;
    margin-bottom: 3px;
  }
}



#submit_photo {
  display: none;
  opacity: 0;
  height: 100px;
  width: 100px;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 210px;
}

#cloud_icon {
  display: none;
  width: 36px;
  height: 36px;
  border: solid 2px black;
  border-radius: 10px;
  position: absolute;
  padding: 3px;
  z-index: 0;
  top: -23px;
  left: 180px;
  margin-bottom: 3px;
}

@media screen and (max-width: 540px) {}
@media screen and (min-width: 541px) {}

