<!DOCTYPE html>
<html>
<head>
  <title>Sugarsnap</title>
  <meta name="viewport" content="width=device-width">
  <script src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src='https://sdk.amazonaws.com/js/aws-sdk-2.0.0-rc10.min.js'></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
